---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">hi 你好啊👋</div>
    <div class="text-5xl font-bold">我是MareSera☕</div>
    <div class="text-3xl py-3 font-bold">一名在校学生 & 原批</div>
    <div class="py-2">
      <text class="text-lg">
        <b>[临时信息]</b>这是我的<b>新blog</b>，关于旧blog的去向和新blog的来源请看文章《》<br />我喜欢关于信息技术的内容，并尝试着学习C++与Python，这里主要发布一些我的学习笔记，虽然我现在仍然以文化课为主，但是依然欢迎来参考<br />如果发现问题欢迎来到我的小群👉769551310
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://space.bilibili.com/1158812072?spm_id_from=333.1007.0.0" target="_blank"> bilibili</a>
      <a href="https://github.com/maresera/" target="_blank" class="btn btn-outline ml-5">
        GitHub
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <div class="divider my-0"></div>
  <HorizontalCard
  title="没有项目"
  img="/post_img.webp"
  desc="在努力了喵~但是还没努力出来喵~点了也只会跳转回本站的喵~"
  url="#"
  badge="Nope"
/>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
